extends layout.pug
block content
    include includes/errors.pug
    form(action="/create-interesting" method="post")
        include includes/form-inputs.pug
        label(for="age") Age:
        input(type="number" name="age" value=form ? form.age : "")
        label(for="favoriteBeatle") Favorite Beatle:
        select(name="favoriteBeatle")
            option(value="") --Please choose an option--
            option(value="John" selected=form ? form.favoriteBeatle === "John" ? "selected": false : false) John
            option(value="Paul" selected=form ? form.favoriteBeatle === "Paul" ? "selected": false : false) Paul
            option(value="Ringo" selected=form ? form.favoriteBeatle === "Ringo" ? "selected": false : false) Ringo
            option(value="George" selected=form ? form.favoriteBeatle === "George" ? "selected": false : false) George
            option(value="Scooby-Doo" selected=form ? form.favoriteBeatle === "Scooby-Doo" ? "selected": false : false) Scooby-Doo
        label(for="iceCream") likes ice cream:
        if form
            input(type="checkbox" name="iceCream" checked=form.iceCream)
        else
            input(type="checkbox" name="iceCream" )
        input(type="submit" name="submit" value="Create Interesting User")
